.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #282c34;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: white;
}