body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* To more clearly distinguish the elements that belong to the categories */
.test-category > table tbody {
  display: block;
  margin-left: 1em;
}

.test-category > table thead {
  display: block;
}

.test-category > table thead tr.partial th.name span {
  margin-left: 0.5em;
}
